<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>メンバー情報</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <h2 class="titlemem">メンバーの情報</h2>
  <table border=1 class="memtable">
    <tr>
      <th>id</th>
      <th>名前</th>
      <th>期生</th>
      <th>生年月日</th>
      <th>出身</th>     
      <th>選抜数</th>
      <th>参加シングル数</th>
      <th>卒業</th>
    </tr>
    <% for( let row of data ) { %>
      <tr>
        <td><%= row.id %></td>
        <td><%= row.名前 %></td>
        <td><%= row.期生 %></td>
        <td><%= row.生年月日 %></td>
        <td><%= row.出身 %></td>
        <td><%= row.選抜数 %></td>
        <td><%= row.参加シングル数 %></td>
        <td><%= row.済未 %></td>
      </tr>
    <% } %>
  </table>
  <a href="/public/top.html" class=button>戻る</a>
  <a href="/public/insert2.html" class=button>追加</a>
  <a href="/public/update.html" class=button>選抜情報の更新</a>
  <a href="/public/updating.html" class=button>卒業情報の更新</a>
</body>
</html>