<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>シングルの情報</h2>
  <table>
    <tr>
      <td>id</td>
      <td>シングル名</td>
      <td>発売日</td>
      <td>初日売上</td>
      <td>初週売上</td>
      <td>センター</td>
    </tr>
    <% for( let row of data ) { %>
      <tr>
        <td><%= row.id %></td>
        <td><%= row.シングル名 %></td>
        <td><%= row.発売日 %></td>
        <td><%= row.初日売上 %></td>
        <td><%= row.初週売上 %></td>
        <td><a href="/db2/:id"><%= row.センター %></a></td>
      </tr>
    <% } %>
  </table>
  <a href="/public/top.html">戻る</a>
  <a href="/public/insert.html">追加</a>
</body>
</html>