<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>シングルの情報</h2>
  <marquee><img src="https://i.pinimg.com/originals/9d/45/b2/9d45b2f0700877398a8c717cf525bdc0.jpg" width=100 height=100>
  <img src="https://www.sonymusicshop.jp/img/1/item/SRC/L00/000/SRCL000007966_SHOP_jpg.jpg" width=100 height=100>
  <img src="https://images-na.ssl-images-amazon.com/images/I/818JshK8nhL._AC_SL1402_.jpg" width=100 height=100>
  <img src="https://th.bing.com/th/id/OIP.j9SuOKDU0yRcIjlCi5UgFgHaHa?pid=ImgDet&rs=1" width=100 height=100>
  <img src="https://www.sonymusicshop.jp/img/1/item/SRC/L00/000/SRCL000008253_SHOP_jpg.jpg" width=100 height=100>
  <img src="https://shop.r10s.jp/book/cabinet/4725/4988009084725.jpg" width=100 height=100>
  <img src="https://th.bing.com/th/id/R.73877a54432c7d96a7cc4ee246c023ce?rik=Diy590bPMC44sQ&riu=http%3a%2f%2fidol-planet.com%2fwp-content%2fuploads%2f2013%2f11%2f1-1_11.jpg&ehk=gIuF5HhqcbK9zXEB27OgC%2fceynag91xS3Ejfqj5JjXs%3d&risl=&pid=ImgRaw&r=0" width=100 height=100>
  <img src="https://th.bing.com/th/id/R.9b10c63ebd9ac95f2cf65ffc8bf0685b?rik=OXzS4WBQK9NUGQ&riu=http%3a%2f%2fidol-planet.com%2fwp-content%2fuploads%2f2014%2f03%2f%e6%b0%97%e3%81%a5%e3%81%84%e3%81%9f%e3%82%89%e7%89%87%e6%83%b3%e3%81%84_%e5%88%9d%e5%9b%9e%e7%9b%a4A.jpg&ehk=SVIUF6sKH7DTxIFVL3GfsvKGIBaaXG7OJENh%2bevZpy4%3d&risl=&pid=ImgRaw&r=0" width=100 height=100>
  <img src="https://th.bing.com/th/id/R.af766f3f28e1b54d72e77fc1f618f42b?rik=XbIgujsIesfXxw&riu=http%3a%2f%2fidol-planet.com%2fwp-content%2fuploads%2f2014%2f06%2f%e5%a4%8f%e3%81%aeFree%ef%bc%86Easy%e5%88%9d%e5%9b%9eA.jpg&ehk=IpHr4Xes8exFdgAp2sLa3xBWI5Lgci%2f7pK%2bS3g2ZacU%3d&risl=&pid=ImgRaw&r=0" width=100 height=100>
  <img src="https://th.bing.com/th/id/R.9159f60595cad3f7c3d5afc93a11d9a3?rik=qB4bn0efvKgANA&riu=http%3a%2f%2fimg.hmv.co.jp%2fimage%2fjacket%2f400%2f59%2f0%2f6%2f862.jpg&ehk=tsn0BaI%2b5F7igLTN277qY72key4uKoCFUckt2ZkcnnM%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" width=100 height=100>
  <img src="https://th.bing.com/th/id/R.7f772acf8ac570cee40bf5eda9f41178?rik=0ZIZw1ng8yK%2f%2bQ&riu=http%3a%2f%2fimg.hmv.co.jp%2fimage%2fjacket%2f400%2f62%2f1%2f3%2f763.jpg&ehk=ZiApooFwprTWTXjnPJxfoaBZU%2b9z%2fx3FSu9BDamgJCk%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" width=100 height=100>
  <img src="https://img.hmv.co.jp/image/jacket/800/64/1/4/523.jpg" width=100 height=100>
  <img src="https://th.bing.com/th/id/R.caad4c4c86448ed5c88a889244b6499e?rik=JMUG7rK4WPIEIQ&riu=http%3a%2f%2fcdn-ak.f.st-hatena.com%2fimages%2ffotolife%2fn%2fnash96%2f20151004%2f20151004022859.jpg&ehk=kJj1CbFORcWzcBOTgB58KUya%2fByGd%2bCGAwRWxm99Rbg%3d&risl=&pid=ImgRaw&r=0" width=100 height=100>
  </marquee>
  <table>
    <tr>
      <td>id</td>
      <td>シングル名</td>
      <td>発売日</td>
      <td>初日売上</td>
      <td>初週売上</td>
      <td>センター</td>
    </tr>
    <% for( let row of data ) { %>
      <tr>
        <td><%= row.id %></td>
        <td><%= row.シングル名 %></td>
        <td><%= row.発売日 %></td>
        <td><%= row.初日売上 %></td>
        <td><%= row.初週売上 %></td>
        <td><%= row.センター %></a></td>
      </tr>
    <% } %>
  </table>
  <a href="/public/top.html">戻る</a>
  <a href="/public/insert.html">追加</a>
</body>
</html>